.Maindiv{
    position: relative;
    top: 50px;
    right: 250px;
  }
  .maindiv{
    margin: 50px auto;
    padding: 50px;
    width: 25%;
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 9px rgb(144, 138, 138);
  }
  
  .inputdiv{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  label{
    margin-top: 15px;
  }
  
  .font{
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
  }
  
  .logindiv{
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  
  .Linktag{
    text-decoration: none;
    color: white;
  }
  .signuptag{
    position: relative;
    border-radius: 50px;
    width: 100px;
    left: 125px;
  }