.addpodcast{
    color: white;
}

.lokshaa{
    position: relative;
    top: 20px;
    left: 490px;
    color: pink;
    text-decoration: none;
}

.lokshaa2{
    position: relative;
    top: 20px;
    left: 490px;
    color: pink;
    text-decoration: none;
}