.addpodcast{
    color: white;
}

.lokshaa{
    position: relative;
    left: 200px;
    color: pink;
    text-decoration: none;
}

.lokshaa2{
    position: relative;
    left: 200px;
    color: pink;
    text-decoration: none;
}